In [683]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [684]:
# Load the dataset
df = pd.read_csv('hotel_bookings 2.csv')  # loading dataset

In [685]:
# Display the first few rows of the dataset
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/7/2015

In [686]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [687]:
df.shape

(119390, 32)

In [688]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [689]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [690]:
df["reservation_status_date"] = pd.to_datetime(
    df["reservation_status_date"], format="%d/%m/%Y"
)

In [691]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 29.1+ MB

In [692]:
df.describe(include=object)   #summary of category column

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,4,3
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,89613,75166

In [693]:
for col in df.describe(include=object):
    print(col)
    print(df[col].unique())
    print("-------------------------------------------------------------------")
    #  print("-"*67)

hotel
['Resort Hotel' 'City Hotel']
-------------------------------------------------------------------
arrival_date_month
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
-------------------------------------------------------------------
meal
['BB' 'FB' 'HB' 'SC' 'Undefined']
-------------------------------------------------------------------
country
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
-------------------------------------------------------------------
market_segment
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
-------------------------------------------------------------------
distribution_channel
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
-------------------------------------------------------------------
reserved_room_type
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
-------------------------------------------------------------------
assigned_room_type
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
-------------------------------------------------------------------
deposit_type
['No Deposit' 'Refundable' 'Non Refund']
-------------------------------------------------------------------
customer_type
['Transient' 'Contract' 'Transient-Party' 'Group']
-------------------------------------------------------------------
reservation_status
['Check-Out' 'Canceled' 'No-Show']
-------------------------------------------------------------------

In [694]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [695]:
df.company

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
119385   NaN
119386   NaN
119387   NaN
119388   NaN
119389   NaN
Name: company, Length: 119390, dtype: float64

In [ ]:
df.drop(['company','agent'], axis=1, inplace =True)

In [ ]:
df.dropna(inplace =True)

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()  #summary of numerical column

In [ ]:
df['adr'].plot(kind="box")

Ourlier : one data is above 5000 affectiong the dataset of adr

In [ ]:
df=df[df['adr']<5000]

In [ ]:
df['adr'].plot(kind="box")

# Data Analysis and Visualization

In [ ]:
cancel_percent=df['is_canceled'].value_counts(normalize=True)

In [ ]:
print(cancel_percent)

In [ ]:

plt.figure(figsize=(6, 4))
plt.title('Reservation Count', fontsize=16)
print(cancel_percent)
plt.bar(['is_canceled','not_canceled'],df['is_canceled'].value_counts(),edgecolor='k',width=0.7)
plt.show()

In [ ]:
df.groupby('hotel')['is_canceled'].value_counts(normalize=True).unstack()*100

In [ ]:
plt.figure(figsize=(8,4))
ax1=sns.countplot(x='hotel',hue='is_canceled',data=df,palette='Blues')


plt.xlabel("Hotel name")
plt.ylabel("Canceled count")
plt.title("Hotel Cancelation status",fontsize=15)
plt.legend(title='cancel', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=0)
plt.tight_layout()

0= reservation, 1 cancellation

**Explore how lead time affects cancellations.**  (Lead Time refers to the number of days between the date a customer makes a reservation and the actual arrival date at the hotel.)

In [ ]:
df['lead_time'].dtype

In [ ]:
plt.figure(figsize=(10, 5))
sns.histplot(df['lead_time'], bins=50, kde=True)
plt.title('Distribution of Lead Time')
plt.xlabel('Lead Time (Days)')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(8, 5))
sns.boxplot(x=df['is_canceled'], y=df['lead_time'])
plt.title('Lead Time vs. Booking Cancellation')
plt.xlabel('Booking Canceled (0 = No, 1 = Yes)')
plt.ylabel('Lead Time (Days)')
plt.show()

Key Observations:
Higher Lead Time Increases Cancellations:

The median lead time (middle line in the box) is higher for canceled bookings compared to non-canceled ones.

This suggests that bookings made far in advance are more likely to be canceled.

Wider Spread for Canceled Bookings:

The box for canceled bookings (1) is more spread out, meaning there is higher variability in lead time.

Some customers book months ahead and later cancel, while others cancel closer to the check-in date.

Outliers Present:

Both groups have outliers, meaning some bookings have extremely long lead times (over 700 days in rare cases).

However, more extreme values appear in the canceled bookings, reinforcing the idea that longer lead times correlate with cancellations.

In [ ]:
# Create lead time bins
df['lead_time_bins'] = pd.cut(df['lead_time'], bins=[0, 30, 60, 90, 180, 365], 
                              labels=['0-30 days', '31-60 days', '61-90 days', '91-180 days', '181-365 days'])

# Calculate cancellation rate per lead time category
cancellation_rates = df.groupby('lead_time_bins')['is_canceled'].mean() * 100

# Plot cancellation rates
plt.figure(figsize=(8, 5))
sns.barplot(x=cancellation_rates.index, y=cancellation_rates.values,palette="viridis")
plt.title('Cancellation Rate by Lead Time')
plt.xlabel('Lead Time (Days)')
plt.ylabel('Cancellation Rate (%)')
plt.show()

Lead Time Is higher cancellation rate is higher

**Examine whether customers with special requests tend to cancel less.**

In [ ]:
# Check distribution of special requests
plt.figure(figsize=(8, 5))
sns.histplot(df['total_of_special_requests'], bins=6, kde=True)
plt.title('Distribution of Special Requests')
plt.xlabel('Number of Special Requests')
plt.ylabel('Frequency')
plt.show()

Key Observations:
Most Guests Make No Special Requests (0 Requests Dominates)

The highest frequency is for 0 special requests, meaning a large portion of guests do not make any special requests.

Gradual Decrease in Special Requests

As the number of special requests increases, the frequency of guests making them decreases significantly.

Only a small number of guests make 3 or more special requests.

Peaks at 1 and 2 Special Requests

There are secondary peaks at 1 and 2 requests, indicating that a fair number of guests ask for one or two special arrangements, but very few go beyond that.

In [ ]:
# Calculate average cancellation rate per special request count
cancellation_rates = df.groupby('total_of_special_requests')['is_canceled'].mean() * 100

# Plot the cancellation rates
plt.figure(figsize=(8, 5))
sns.barplot(x=cancellation_rates.index, y=cancellation_rates.values, palette="viridis")
plt.title('Cancellation Rate by Number of Special Requests')
plt.xlabel('Number of Special Requests')
plt.ylabel('Cancellation Rate (%)')
plt.show()

In [ ]:
 resort_hotel= df[df['hotel']=='Resort Hotel']

In [ ]:
resort_hotel

In [ ]:
resort_hotel=resort_hotel.groupby('reservation_status_date')['adr'].mean()

In [ ]:
resort_hotel

In [ ]:
city_hotel= df[df['hotel']=='City Hotel']

In [ ]:
city_hotel=city_hotel.groupby('reservation_status_date')['adr'].mean()

In [ ]:
city_hotel

In [ ]:
plt.figure(figsize=(14,6))

plt.title("Average Daily rate in City and Resort Hotel",fontsize=15)
plt.plot(city_hotel.index, city_hotel.values,label ='City Hotel')
plt.plot(resort_hotel.index, resort_hotel.values,label ='Resort Hotel')

plt.legend(title='Hotels', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

most blue line is in between mean avg rate of city hotels is almost same
but in resort hotel orance line there are huge spikes which mean there is huge price difference in normal days and weekends or festive days

In [ ]:
plt.figure(figsize=(14,6))
df['month']=df['reservation_status_date'].dt.month
sns.countplot(x='month',hue='is_canceled',data=df,palette='plasma')

plt.title("Monthwise cancelation status",fontsize=15)
plt.legend(title='canceled status', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

jan has high canceled,  
in aug has lowest cancellation status reason --

In [ ]:
#data=df[df['is_canceled']==1].groupby('month')[['adr']].sum().reset_index()

In [ ]:
plt.figure(figsize=(14,6))

sns.barplot(x=data['month'], y=data['adr'], data=df[df['is_canceled']==1].groupby('month')[['adr']].sum().reset_index())  # Added x= and y= parameters
plt.title("Monthwise adr",fontsize=15) 
plt.show()

In [ ]:
df_cancelled=df[df['is_canceled']==1]
top_10_countries=df_cancelled['country'].value_counts()[:10]

In [ ]:
top_10_countries

In [ ]:
plt.figure(figsize = (9,9))
plt.pie(top_10_countries, autopct = "%1.2f%%", labels=top_10_countries.index)
plt.title("Countrywise Cancelation status", fontsize = 15)
plt.show()

Prt has high cancelation rate wrt othe countries

In [ ]:
df.columns

In [ ]:
df.market_segment.value_counts(normalize=True)*100

Online TA        47.437698(Most customer/reservation are comming form Online TA)

In [ ]:
df_cancelled.market_segment.value_counts(normalize=True)*100

(Most cancellation are also done by people who are comming through Online TA)    Reason: online presence is goo , good pic,and all reality is different

In [ ]:
df_cancelled_adr= df_cancelled.groupby('reservation_status_date')[['adr']].mean()
df_cancelled_adr.reset_index(inplace=True)
df_cancelled_adr.sort_values('reservation_status_date',inplace=True)


non_df_cancelled_adr=df[df['is_canceled']==0]
non_df_cancelled_adr= non_df_cancelled_adr.groupby('reservation_status_date')[['adr']].mean()
non_df_cancelled_adr.reset_index(inplace=True)
non_df_cancelled_adr.sort_values('reservation_status_date',inplace=True)



plt.figure(figsize=(16,6))

plt.title("Average Daily rate on Date",fontsize=15)
plt.plot(df_cancelled_adr['reservation_status_date'], df_cancelled_adr['adr'],label ='canceled')
plt.plot(non_df_cancelled_adr['reservation_status_date'], non_df_cancelled_adr['adr'],label ='not canceled')

plt.legend(title='hotels', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

In [ ]:
df_cancelled_adr=df_cancelled_adr[(df_cancelled_adr['reservation_status_date']>'2016')& (df_cancelled_adr['reservation_status_date']<'2017')]
non_df_cancelled_adr=non_df_cancelled_adr[(non_df_cancelled_adr['reservation_status_date']>'2016')& (non_df_cancelled_adr['reservation_status_date']<'2017')]

In [ ]:
plt.figure(figsize=(16,6))

plt.title("Average Daily rate on Date",fontsize=15)
plt.plot(df_cancelled_adr['reservation_status_date'], df_cancelled_adr['adr'],label ='canceled')
plt.plot(non_df_cancelled_adr['reservation_status_date'], non_df_cancelled_adr['adr'],label ='not canceled')

plt.legend(title='hotels', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()